<!DOCTYPE html>
<html lang="en">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--    &lt;!&ndash;og tag&ndash;&gt;-->
<!--    <meta property="og:title" content=StoryBlog">-->
<!--    <meta property="og:description" content="지나가는 이야기를 남겨주세요">-->
<!--    <meta property="og:image" content="images/og_storyblog.png">-->

    <title>Story Blog</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/indexStyle.css">



    <script>

        $(document).ready(function () {
            // HTML 문서를 로드할 때마다 실행합니다.
            getMessages();
        })

        // 메모를 불러와서 보여줍니다.
        function getMessages() {
            // 1. 기존 메모 내용을 지웁니다.
            // 2. 메모 목록을 불러와서 HTML로 붙입니다.
            $.ajax({
                type: 'GET',
                url: '/api/storys',
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        let story = response[i];
                        let id = story.id;
                        let username = story.username;
                        let contents = story.contents;
                        let modifiedAt = story.modifiedAt;
                        let title = story.title;
                        addHTML(id, username, contents, modifiedAt, title)
                    }
                }
            })
        }

        // 메모 하나를 HTML로 만들어서 body 태그 내 원하는 곳에 붙입니다.
        function addHTML(id, username, contents, modifiedAt, title) {

            let tempHtml = `<tr>
                            <th scope="row" style="width: 60px font-size: 13px;">${id}</th>
                            <td><div id="${id}-username" class="username" style="width: 100px;">
                                 ${username}</div>
                            </td>
                            <td onclick="window.location.href='/api/storys/details/${id}'" style="cursor:pointer; width: 350px;""><div id="${id}-contents" class="text">
                                 ${title}</div>
                            </td>
                            <td><div class="date" style="font-size: 13px; width: 100px;">
                                 ${modifiedAt}</div>
                            </td>
                            </tr>`

            // 2. #cards-box 에 HTML을 붙인다.
            $('#story-table').append(tempHtml);
        }

    </script>
</head>

<body>
<div class="background-header"></div>
<div class="background-body"></div>

<div class="wrap">
    <div class="header">
        <h2 onclick="window.location.href='/'" style="cursor:pointer;">StoryBlog</h2>
        <div class="header-under" style="position:relative;">
            <div id="header-title-login-user" th:if="${username != null}">
                <span th:text="${username}"></span>님의 이야기를 남겨주세요
            </div>
            <form id="my_form" method="post" action="/user/logout">
                <a id="logout-text" href="javascript:{}" class="logout" th:if="${username != null}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
            </form>
        </div>
    </div>

    <div id="cards-box" class="area-read">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">작성자</th>
                <th scope="col">제목</th>
                <th scope="col">날짜</th>
            </tr>
            </thead>
            <tbody id="story-table">
            </tbody>
        </table>
    </div>

    <div class="card">
        <button type="button" onclick="window.location.href='/api/storys/writting'" class="btn btn-outline-secondary">나도
            글쓰기
        </button>
    </div>

</div>
</body>

</html>